/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/ChangeLog
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/INSTALL
/Makefile
/Makefile.in
/TAGS
/_libs
/aclocal.m4
/autom4te.cache
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.lt
/config.status
/config.status.lineno
/config.sub
/configure
/configure.lineno
/data/Makefile.in
/depcomp
/docs/Makefile.in
/gtk-doc.make
/install-sh
/intltool-extract.in
/intltool-merge.in
/intltool-update.in
/liblangtag-gobject-uninstalled.pc
/liblangtag-gobject.pc
/liblangtag-gobject/Makefile.in
/liblangtag-uninstalled.pc
/liblangtag.pc
/liblangtag/Makefile.in
/liblangtag/extensions/Makefile.in
/libtool
/ltmain.sh
/missing
/mkinstalldirs
/po/*.gmo
/po/*.mo
/po/.intltool-merge-cache
/po/Makefile
/po/Makefile.in
/po/Makefile.in.in
/po/POTFILES
/po/liblangtag.pot
/po/stamp-it
/so_locations
/stamp-h1
/tags
/tests/Makefile.in
