*\.autogen_bak
*\.bak
*\.bz2
*\.desktop
*\.gir
*\.gir\.c
*\.gir\.h
*\.gmo
*\.gz
*\.la
*\.lo
*\.o
*\.pc
*\.rpm
*\.schemas
*\.service
*\.stamp
*\.typelib
*~
\.deps
\.libs
Makefile
Makefile.in
a\.out
aclocal\.m4
autom4te\.cache
config\.*
configure
core.*
data/*\.in
!data/*\.in\.in
data/*\.sh
data/*\.conf
data/language-subtag-registry
data/language-subtag-registry.xml
data/reg2xml
depcomp
docs/html
docs/tmpl
docs/xml
docs/*-decl-list\.txt
docs/*-decl\.txt
docs/*-sections\.txt
docs/*-undeclared\.txt
docs/*-undocumented\.txt
docs/*-unused\.txt
docs/*\.args
docs/*\.hierarchy
docs/*\.interfaces
docs/*\.prerequisites
docs/*\.signals
docs/version.xml
gtk-doc\.make
install-sh
intltool-*
libtool
ltmain\.sh
missing
mkinstalldirs
po/\.cache
po/\.intltool*
po/Makefile*
po/POTFILES
stamp*
tests/test-*
